html{
    text-align: center;
    width: 90%;
    max-width: 1500px;
    min-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: rgb(238, 231, 223);
}






.timelineRects{
    stroke: black
}

.yearTag{
    text-anchor: middle;
    font-size: 13px;
}

.calloutMark{
    stroke: red;
    stroke-width: 3px;
}

.calloutLine{
    stroke: red;
}

.periodLabel{
    font-size: 13px;
    text-anchor: middle;
}

#typesPieChart{
    display:grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: auto;
    grid-template-areas: "chart sticker";
}

.typesBar{
    fill:rgba(255, 255, 255, 0.1);
    stroke: black;
}

.typesBarText{
    text-anchor: middle;
}

.typesLabel{
    font-size: 13px;
}


.typesSticker{
    padding-top: 60px;
    grid-area: sticker;
}



#poetsChart{
    display:grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: auto;
    grid-template-areas: "chart intro";
}

.poetsIntro{
    grid-area: intro;
}