html{
    text-align: center;
    width: 90%;
    max-width: 1500px;
    min-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: rgb(238, 231, 223);
}

h2{
    margin-top: 50px;
}

p{
    font-size: 15px;
}

a{
    text-decoration: none;
    color: rgb(174, 51, 51);
}

button{
    border: none;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 5px;
    background-color: white;
}

.active, button:hover{
    background-color: rgb(72, 72, 72);
    color: white

}



.timelineRects{
    stroke: black;
    fill: rgba(255, 255, 255, 0.482);
}

.yearTag{
    text-anchor: middle;
    font-size: 13px;
}

.calloutMark{
    stroke: red;
    stroke-width: 3px;
}

.calloutLine{
    stroke: red;
}

.periodLabel{
    font-size: 13px;
    text-anchor: middle;
}

#typesPieChart{
    display:grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto;
    grid-template-areas: "chart sticker";
}

.typesBar{
    fill:rgba(255, 255, 255, 0.461);
    stroke: black;
}

.typesBarText{
    text-anchor: middle;
}

.typesLabel{
    font-size: 13px;
}


.typesSticker{
    padding-top: 40px;
    padding-right: 40px;
    grid-area: sticker;
}


#poetsChart{
    display:grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: auto;
    grid-template-areas: "chart intro";
}

.poetsIntro{
    grid-area: intro;
    padding-left: 60px;
    padding-right: 40px;
    padding-top: 120px;
    padding-bottom: auto;
}

.poetsRect{
    fill: rgba(255, 255, 255, 0.386);
    stroke: black;
}

.poetsName{
    font-size: 11px;
    fill:rgb(60, 60, 60)
}

.tick line{
    stroke-dasharray: 6 4;
    opacity: 0.3
}

.tick text{
    font-size: 12px;
    transform: translate(0, -3px)
}

.branchLine{
    stroke:rgb(155, 155, 155);
    stroke-dasharray: 5 2;
}

#poemsShowRoom{
    display: grid;
    grid-template-columns: 31% 38% 31%;
    grid-template-rows: auto;
    grid-template-areas: "graph poemCh poemEn";
    padding-bottom: 230px;
    column-gap: 20px;
}

#options{
    margin-top: 5px;
    margin-bottom: 50px;
}

option{
    text-anchor: middle;
}

.poemLine{
    stroke-dasharray: 5 2;
}

#poemCh, #poemEn{
    white-space: pre-wrap;
    text-anchor: middle;
    padding:20px
}

#poemEn{
    border-left: dashed;
    border-right: dashed;
    border-width: 1px;
}

#poemCh{
    padding-right: 30%;
}

#poemEn p{
    font-size: 15px;
    font-weight: 200;
}

#poemCh p{
    font-size: 14px;
    font-weight: 200;
}